@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
*,*:before,*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@font-face {
	font-family:'google';
	src:url('../fonts/google.ttf')
}
body {
	background: #fff;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	margin: 0;
	color: #000;
	font-family: 'google', sans-serif;
}
.container {
	background: #fff;
	position: relative;
	margin: 0px auto;
	margin-top: 50%;
	margin-bottom: 0px;
	padding: 10px;
	max-width: 400px;
	height: 750px;
	border: 1px solid #128c7e;
	border-top: 10px solid #128c7e;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.icon {
    width: 80;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.divider {
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	overflow:hidden;
	text-align: left;
	white-space:nowrap;
	width: 98%;
}
.divider>span {
	display:inline-block;
	position:relative;
	color:#000;
	cursor:default;
	font-size:13px;
	font-family: 'google', sans-serif;
}
.divider>span:before,.divider>span:after {
	background:#128c7e;
	content:"";
	height:5px;
	position:absolute;
	top:35%;
	width:9999px;
}
.divider>span:before {
	margin-right:15px;
	right:100%;
}
.divider>span:after {
	left:100%;
	margin-left:15px;
}
.notify {
    background: #fff;
    width: 35%;
    height: auto;
    padding: 4px;
    margin-bottom: 5%;
    color: #000;
    font-size: 13px;
    font-family: 'google', sans-serif;
    text-align: center;
    border: 1px solid #128c7e;
    border-radius: 30px;
}
.scroll {
    height: 500px;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
}
.item {
    background: #fff;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 5px;
    color: #000;
    font-family: 'google', sans-serif;
    text-align: left;
    border: 1px solid #128c7e;
    border-radius: 5px;
}
.item img {
    width: 67;
    height: 67;
    border: 1px solid #128c7e;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}
.nama-grup {
    margin-top: 13px;
}
.deskripsi-grup {
    font-size: 13px;
    margin-top: 5px;
}
.item button {
    background: #128c7e;
    width: 25%;
    height: auto;
    padding: 8px;
    margin-top: 17px;
    color: #fff;
    font-family: 'google', sans-serif;
    text-align: center;
    border: none;
    border-radius: 30px;
    outline: none;
    float: right;
}
.line {
    background: #128c7e;
    width: 20%;
    height: 5px;
    border-radius: 30px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    display: block;
}
.footer {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    color: #000;
    font-size: 13px;
    font-family: 'google', sans-serif;
    text-align: center;
}
form {
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width:600px) {
     .container {
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        border: none;
        border-radius: 0px;
        box-shadow: none;
    }
	.scroll {
	    height: 390px;
	}
}